@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    line-height: 2rem;
    font-size: 1.2rem;
    margin:0px;
    color:white;
    font-family: "Noto Sans", sans-serif;
    overflow: auto;
}
main h1,h2,h3,p{
    text-align: center;
    margin:15px;
}
main .scrollAnimation{
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 25%;
}
header h1{
    margin: 15px;
    padding: 10px;
}
main #education,#projects,#skills h2{
    margin:0px;
    padding:20px;
    padding-top:15px;
}
main .background{
    background-image: url("../images/background.jpg");
    background-size: cover;
}
header i{
    margin: 15px;
    padding: 10px;
}
nav ul li{
    list-style-type: none;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
header .websiteName{
    display: flex;
    background-color: black ;
    justify-content: space-between;
    align-items: center;
    
}
main .kyHeadshot img{
    margin-top:52px;
    width:40%;
    height:auto;
    border-radius: 30%;
}
main img{
    width:97.5%;
    height:auto;
    display: block;
    margin: auto;
}
main #projects img{
    height:250px;
    
}
main .introductionDetails{
    text-align: center;
}
main ul{
    text-align: center;
    margin: 15px;
}
main ul li{
    list-style-type: none;
}
body.noScroll{
    overflow: hidden;
}
.menu{
    background-color: rgb(190,190,190);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position:fixed;
    right:-1500px;
    align-items: center;
    text-align: center;
    justify-content: center;
    line-height: 8.5rem;
    font-size:2.5rem;
    transition:0.3s ease;
}
main .introductionDetails, .introduction{
    padding:10px;
}
main .introduction{
    background-color: black;
    background-image: linear-gradient(to right, red, purple);
}
.menu.active{
    right:0px;
}
header .websiteName .fa-bars {
  display: block;
}
header .websiteName .fa-xmark {
    display: none;
}

header .websiteName .fa-xmark.active {
    display: block;
}
#projects{
    background-color: rgba(0,0,0,0.5);
    border-radius: 25%;
}

header .websiteName .fa-bars.hidden {
    display: none;
}
@keyframes appear{
    from{
        opacity: 0;
        scale: 0.5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}
main .courses ul{
    padding:15px;
}
main .courses{
    background-color: white;
    color:black;
    border-radius:15%;
}
main #education{
    text-align: center;
}
main #education .fa-caret-down {
  display: inline-block;
}
main #education .fa-caret-up {
    display: none;
}

main #education .fa-caret-up.active {
    display: inline-block;
}

main #education .fa-caret-down.hidden {
    display: none;
}   
main .courses{
    max-height:0px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}
main .courses.active{
    max-height: 1000px;
}
main #education .courses{
    transition: all 0.3s ease-in-out;
}
main #projects ul li{
    list-style-type: disc;
    text-align: left;
}
main #skills .images{
    background-color: white;
    margin:15px;
    border-radius: 25px;
}
main #skills{
    padding-bottom: 60px;
}
main #skills img{
    height:50px;
    width:auto;
    display: block;
    padding:10px;
}
footer{
    color:black;
    text-align: center;
}
footer ul li{
    list-style-type: none;
}
footer a{
    color:black;
}
footer a:hover{
    color:blue;
}
iframe{
    display: block;
    max-width: 100%;
}
#projects a{
    text-decoration: none;
    color: aqua;
}
#projects a:hover{
    color:rgb(241, 84, 241);
}
@media screen and (min-width: 750px){
    body{
        font-size:1.35rem;
    }
    main #projects{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 1.5rem;
    }
    main #skills img{
        display:inline-block;
    }
    #skills .images{
        display: flex;
        justify-content: center;
        flex-wrap: wrap; 
        gap: 15px;
    }
    #projectGrid{
        grid-column: 1/3;
    }
}
@media screen and (min-width: 1100px){
    .menu{
        display:block;
        background-color: none;    
    }
    header .websiteName .fa-bars {
        display:none;
    }
    header .websiteName .fa-xmark {
        display:none;
    }
    .menu {
        display: flex;
        position: static;
        background-color: black;
        width: auto;
        height: auto;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        line-height: normal;
        font-size: 1.5rem;
        right: auto;
        transition: none;
    }
    .menu nav ul {
    display: flex;
    gap: 2rem;
    padding: 10px;
    margin: 15px;
    list-style: none;
    }
    .menu nav ul li {
        list-style: none;    
    }
    main .introduction{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    main .introduction img{
        width:60%;
        height:auto;
        padding-bottom:50px;
        margin-bottom:20px;
    }
    main .background{
        display: grid;
        grid-template-columns: 1fr 1.5fr;
    }
    .background > .scrollAnimation:nth-child(3){
       grid-column: 1/-1;
    }
    #contact ul {
        display: flex;
        justify-content: center;
        gap: 20px;
        padding: 10px;
        margin: 10px;
        list-style: none;
    }
    #contact ul li {
        display: flex;
        align-items: center;
    }
    body{
        font-size:1.5rem;
    }
    .menu ul li{
        transition: all 0.3s ease-in-out;
    }
    .menu ul li:hover{
        font-size:1.8rem;
        border-bottom:1px solid white;
    }
    .ph2{
        margin-top: 30px;
    }
    #projects{
        margin: 0px 50px 0px 0px;
    }
    #education{
        margin: 0px 0px 0px 50px !important;
    }
    #projectGrid{
        grid-column: 1/3;
    }
    iframe{
        margin:auto;
    }
}
